<div class="container top-container" style="background-color: {{forum.color}}">
  <div class="row">
    <div class="col col-md-8" style="margin: auto; margin-top: 2vh; padding: 0">
      <img style="max-width: 15%; border-radius: 100%; margin-top: 10px; display: inline"
           src="https://a.thumbs.redditmedia.com/zDOFJTXd6fmlD58VDGypiV94Leflz11woxmgbGY6p_4.png">
      <h1 style=" display: inline; margin-left: 2vw">{{forum.title}}</h1>
      <button *ngIf="loggedUser" style="display: inline; margin-left: 2vw; background-color: #FFC500" mat-raised-button color="accent" (click)="joinOrQuit()">{{hasJoinned ? 'Quit' : 'Join'}}</button>
    </div>
  </div>
</div>

<div class="container" style="max-width: 100%; min-height: 100vh; background-color: #dae0e6; padding-bottom: 20px">
  <div class="row">
    <div class="col-md-8">
      <div class="col col-md-12 sort-container white-block">
        <p class="dark-text" style="margin: auto; padding-bottom: 10px">Popular posts</p>

        <button class="sort {{isSelected('Popular')}}" (click)="select('Popular')" mat-raised-button color="accent">
          <mat-icon> bar_chart</mat-icon>
          Popular
        </button>
        <button class="sort {{isSelected('New')}}" (click)="select('New')" mat-raised-button color="accent">
          <mat-icon>new_releases</mat-icon>
          New
        </button>
      </div>
      <div class="col col-md-12" *ngFor="let post of posts">
        <div class="white-block sort-container">
          <div class="row">
            <div class="col-md-2">
              <div class="center">
                <mat-icon style="{{post.hasUpvote && post.upvote ? 'color: red' : ''}}" (click)="upvote(true, post)">expand_less</mat-icon>
                <p style="margin:0">{{post.post.note}}</p>
                <mat-icon style="{{ post.hasUpvote && !post.upvote ? 'color: #FFC500' : ''}}" (click)="upvote(false, post)">expand_more</mat-icon>
              </div>
            </div>
            <div class="col-md-10" style="cursor:pointer;" (click)="goToPost(post.post.id)">
              <div>
                <img style="display: inline; width: 30px; height: 30px; border-radius: 50%" src="{{post.userImage ? post.userImage :
                'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png'}}">
                <p style="display: inline; font-weight: bold">&nbsp;&nbsp;{{post.user}}</p>
                <p style="display: inline; color: dimgray">&nbsp;&nbsp;Published {{post.post.creationDate | date: "MMM dd, YYYY HH:MM"}}<label *ngIf="!isSameDate(post.post.creationDate, post.post.lastUpdateDate)"> - Edited {{post.post.lastUpdateDate | date:"MMMM dd, YYYY HH:MM"}}</label></p>
              </div>
              <br>
              <h2>{{post.post.title}}</h2>
              <p class="tag" style="background-color: {{post.forumBgColor}}">{{post.forum}}</p>
            </div>
          </div>
        </div>
        <div class="col col-md-3 sort-container white-block about" style="background-color: transparent">
        </div>
      </div>

    </div>
    <div class="col col-md-3 sort-container white-block about">
      <h2 style="
         background-image: url('https://media.discordapp.net/attachments/951109231099133972/971419158505984050/doodad.png');
         background-color: {{forum.color}};">

        About this community</h2>

      <p>{{forum.description}}</p>
      <hr style="width: 50%; margin: auto;size: 1px">
      <p style="display: flex; align-content: baseline; align-items: flex-end "> <mat-icon>cake</mat-icon> <label> &nbsp; created {{forum.creationDate | date: "MMM dd, YYYY"}}</label></p>

      <div *ngIf="loggedUser">
        <hr style="width: 50%; margin: auto;size: 1px">
        <br>
        <button style="background-color: #FFC500; display: block; width: 90%; margin: auto;"
                mat-raised-button color="accent" (click)="createPost()">Create a post</button>
        <br>
      </div>

    </div>

  </div>

</div>
