$tan: #B89F94;
$tanHover: #B89F94;
$tanLight: rgba(222, 193, 180, 0.26);
$grey: #888a8e;
$black: #212126;

$greyDisabled: rgba(136, 138, 142, 0.2);


a img {

  margin-left: 9px;
  width: 80px;
  padding-bottom: 11px;
}

@media screen and (min-width: 1280px){
  a img {
    width: 100px;
  }
}

.mat-toolbar{
  position: relative;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 5px 15px -3px rgba(184,159,148,0.60);
}

.align-right {
  display: block;
  width: fit-content;
}
.align-right > * {
  margin-right: 5px;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.search-input {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.drop-down-account {
  background-color: transparent;
  color: #FFC500;
  border: none;
}
.drop-down-account:hover{
  background-color: transparent;
  color: #FFC500;
  border: none;
}

.dropdown-toggle::after{
  margin: auto!important;
}
