<div class="container" style="max-width: 100%; min-height: 100vh; background-color: #dae0e6; padding-bottom: 20px">
  <div class="row">
    <div class="col col-md-8 sort-container white-block">
      <h1 style="padding: 5px">Create a post</h1>
      <hr>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput
               [(ngModel)]="title"
               type="text"
               name="title"
               required
               minlength="3"
               maxlength={{maxLengthTitle}}>
        <div class="alert-danger" *ngIf="title && (title.length < 3 || title.length > maxLengthTitle)">
          <div *ngIf="title.length === 0">Title is required</div>
          <div *ngIf="title.length < 3">
            Title must be at least 3 characters
          </div>
          <div *ngIf="title.length > maxLengthTitle">
            Title must be at most 20 characters
          </div>
        </div>
      </mat-form-field>

      <div class="editor-box">
        <div class="code-editor-box" #codeEditorBox>
        </div>
        <div class="add-content" (click)="addContent($event)"></div>
      </div>


      <br>
      <div class="float-right">
        <button style="background-color: #FFC500; float: right" mat-raised-button color="accent" (click)="createPost()" [disabled]="isDisabled() || loading || !!title.errors">Create post</button>
      </div>


    </div>
    <div class="col col-md-3 sort-container white-block about">
      <h2 style="
         background-image: url('https://media.discordapp.net/attachments/951109231099133972/971419158505984050/doodad.png');
         color: black;

         background-color: {{forum.color}};">

        <p>About this community</p></h2>

      <p>{{forum.description}}</p>
      <hr style="width: 50%; margin: auto;size: 1px">
      <p style="display: flex; align-content: baseline; align-items: flex-end "> <mat-icon>cake</mat-icon> <label> &nbsp; created {{forum.creationDate | date: "²"}}</label></p>
    </div>
  </div>
</div>

<div class="code-text-selector d-flex" #addContentDiv>
  <button class="add-text-button" mat-button (click)="addText()">Text</button>
  <button class="add-code-button" mat-button (click)="addCode()">Code</button>
  <div class="arrow-down"></div>
</div>

